@font-face {
  font-family: Noto;
  src: url(assets/fonts/NotoSansUI-Regular.ttf)
}
@font-face {
  font-family: NotoI;
  src: url(assets/fonts/NotoSansUI-Italic.ttf)
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #EDE7F6;
  font-family: Noto, serif;
  font-size: 100%;
}

.wrapper {
  height: 500px;
  width: 500px;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.enterIp {
  flex: 1;
  padding: 10px;
}
.enterIp {
  position: relative;
}
.enterIp:before {
  border-top: solid 1px #bbb;
  content: '';
  height: 1px;
  left: 5%;
  position: absolute;
  top: 0;
  width: 90%;
}
